.chatBox{
    width: 800px;
    height: 500px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background: #d4bdc626;
    display: flex;
    margin-top: 25px;

}
.chatBox__messages{
    width: 76%;
    height: 100%;
}
.chatBox__onlineFriends{
    border: 1px solid blue;
    height: 100%;
    width: 24%;
}
.chatBox__messages__history{
    width: 100%;
    height: 88%;
    display: flex;
    overflow: auto;
}
.chatBox__messages__typeMess{
    background: #f2ebeb0d;
    width: 100%;
    height: 12%;
    overflow: hidden;
}
.chatBox__messages__typeMess__form{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.customInput{
    padding: 10px 0 0 0;
    display: table-cell; vertical-align: middle;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 12pt;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.9);
}
.inpImg{
    width: 35px;
    height: 35px;
    border: 0;
}
.chatBox__UserList{
    width: 24%;
}