.chatBox{
    width: 800px;
    background-color: #ffffff;
    height: 500px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    /*background: #d4bdc626;*/
    display: flex;
    margin-top: 25px;

}

.chatBox__messages{
    width: 76%;
    height: 100%;
}
.chatBox__messages__history::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

.chatBox__messages__history::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b7bcbc;
}

.chatBox__messages__history::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}
.chatBox__onlineFriends{
    border: 1px solid blue;
    height: 100%;
    width: 24%;
}
.chatBox__messages__history{
    width: 100%;
    height: 88%;
    display: flex;
    overflow: auto;
}
.chatBox__messages__typeMess{
    background: #f2ebeb0d;
    width: 100%;
    height: 12%;
    overflow: hidden;
}
.chatBox__messages__typeMess__form{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.customInput{
    padding: 10px 0 0 0;
    display: table-cell; vertical-align: middle;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    border: none;

    font-size: 12pt;
}

.inpImg{
    width: 35px;
    height: 35px;
    border: 0;
}
.chatBox__UserList{
    width: 24%;
    border-left: 1px solid #bdbcbc;;
}